*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* -----------header style start-------------- */
.header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style: none;
    margin-right: 30px;
    
}
.nav li a{
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.banner-container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 0px;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}

 /* -----------features section css start -------------- */
.features{
    display: flex;
    align-items: center;
}
/* .img-container, .features-info{
    width: 40%;
} */
.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.features-info{
    padding-left: 70px;
    padding-right: 70px;
}
.features-title{
    font-size: 2.8rem;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}
.text-features{
    color: #FF900E;
    font-weight: 700;
}
.features-description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400px;
    padding: 40px 0px;
}

 /* -----------features section css end -------------- */

/* -----------header style end-------------- */

/* Responsive media queries */
/* mobile Devices */
@media screen and (max-width:576px) {
    .header{
        padding: 20px;
    }
    .nav{
        flex-direction: column;
    }
}

/* Tablet or medium Devices */
@media screen and (min-width:577px) and (max-width:992px) {
    .header{
        padding: 40px;
    }
    .nav{
        flex-direction: column;
    }
}